.section-container {
  margin-bottom: 10px;
}

.section-content-container {
  padding: 0px 20px;
}

.section-title-container {
  border-bottom: 1px black solid;
}

.section-title {
  font-weight: bold;
}