<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/public/assets/fonts/Computer_Modern/Serif/cmun-serif.css">
  <link rel="stylesheet" type="text/css" href="/public/assets/stylesheets/main.css">
  <script type="text/javascript" src="/public/assets/javascripts/sanitize-html.min.js"></script>
  <script type="text/javascript" src="/public/assets/javascripts/react.development.js"></script>
  <script type="text/javascript" src="/public/assets/javascripts/react-dom.development.js"></script>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width" />
  <title>Casey McGuire</title>
</head>
<body>
<style>
  body {
    font-family: "Computer Modern Serif", sans-serif;
  }
</style>
<div id="main"></div>
{{{body}}}
</body>
</html>