@import "../../../../common/variables";

.post-container {
  width: 100%;
  max-width: $post-width + px;
  border-bottom: 1px solid #6a6a6a;
  margin-bottom: 30px;
}

.post-title-container {
  border-bottom: #cccccc solid 1px;
  margin-bottom: 10px;
}

.post-title {
  a {
    text-decoration: none;
  }
}

.post-form-container {
  margin-bottom: 5px;
}

.title-input {
  width: $post-width + px;
  height: 25px;
}

.post-contents-container {
  font-size: 17px;
  line-height: 135%;
  padding: 0px 5px;
  list-style-position: inside;


  p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
  }

  li {
    padding-left: 20px;
  }

  blockquote {
    margin: 10px;
    border-left: #cccccc solid 3px;
    padding-left: 7px;
  }

  pre {
    border: 1px solid grey;
    border-radius: 5px;
    overflow: scroll;
    padding: 5px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 600px) {
    pre {
      font-size: 11px;
    }
  }
}