@import "../../../../common/variables";

.post-container {
  width: $post-width + px;
}

.post-contents-container {
  font-size: 18px;
  line-height: 135%;
  padding: 0px 5px;
}

.post-contents-container {
  p {
    margin-bottom: 10px;
  }
}