.employment-card-container {
  margin-bottom: 13px;
}

.header {
  margin: 6px 0px;
}

.company-employment-date-container, .company-name-location-container {
  display: flex;
  justify-content: space-between;
}

.location-container {
  text-align: right;
}

.title {
  font-weight: bold;
}

.company-name, .location {
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .company-employment-date-container {
    flex-direction: column;
  }
}