.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form {
  border: solid 1px black;
  padding: 30px;
}

.submit-button {
  padding: 5px;
  background-color: #2e6da4;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  border: none;
}