.side-menu-glass {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;

  // in order to get the transition to work, we just make this an invisible div over the top
  // of the viewport that click events pass through.
  opacity: 0.0;
  pointer-events: none;
  -webkit-tap-highlight-color: transparent;

  &.side-menu-glass-visible {
    opacity: 0.8;
    pointer-events: all;
  }
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 2;
  background-color: white;
  transition: width .5s;
  padding-top: 25px;


  &.side-menu-visible {
    width: 65%;
    border-left: 1px #EEEEEE solid;
  }

  .navigation-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 25px;

    .nav-bar-item {
      margin: 5px 15px;
    }

    a {
      text-decoration: none;
      display: flex;
    }
  }
}


