.navigation-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .navigation-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  }

  .nav-bar-item {
    margin-right: 7px;
  }

  .nav-bar-link {
    color: inherit;
    text-decoration: underline;
  }
}

.menu-button-container {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navigation-bar-links-container {
    display: none;
  }

  .menu-button-container {
    display: block;
  }
}