.navigation-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-bar-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-bar-item {
  margin-right: 7px;
}

.nav-bar-link {
  color: inherit;
  text-decoration: underline;
}