@import "../../common/variables";

.page-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content {
  width: $content-width + px;
}

.post-title-container {
  border-bottom: #cccccc solid 1px;
}

.post-form-container {
  margin-bottom: 5px;
}

.title-input {
  width: $post-width + px;
  height: 25px;
}