@import "../../common/variables";

.page-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-content {
  width: 90%;
  max-width: $content-width + px;
}

